Repository hmcts/pip-channel-management, pull requests merged in 2022-11, with the labels that each got.

#42 PUB-1597 Spring Updates
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/config/OpenApiConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/controllers/ChannelManagementController.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/controllers/RootController.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/config/SwaggerConfigurationTest.java
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-42

#59 CVE-31690, CVE-31692 and CVE-42252 fixes and suppression
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-59

#61 PUB-1381 Crown warned list PDF and artefact summary
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/models/external/datamanagement/ListType.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/models/templatemodels/CrownWarnedList.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/CrownWarnedListSummaryConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/converters/CrownWarnedListFileConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/converters/IacDailyListFileConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/CaseHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/LocationHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/listmanipulation/CrownWarnedListManipulation.java
  src/main/resources/templates/crownWarnedList.html
  src/main/resources/templates/languages/cy/crownWarnedList.json
  src/main/resources/templates/languages/en/crownWarnedList.json
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/CrownDailyListSummaryConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/CrownWarnedListSummaryConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/EtDailyListSummaryConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/converters/CrownWarnedListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/CaseHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/LocationHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/listmanipulation/CrownWarnedListManipulationTest.java
  src/test/resources/mocks/crownWarnedList.json
  src/test/resources/mocks/partyManipulation.json
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-61

#62 PUB-1387 Magistrate Standard List Pdf Template
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/models/external/datamanagement/ListType.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/MagistratesStandardListSummaryConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/converters/MagistratesStandardListFileConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/DailyCauseListHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/DataManipulation.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/listmanipulation/CrimeListHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/listmanipulation/MagistratesStandardListHelper.java
  src/main/resources/templates/languages/cy/crownDailyList.json
  src/main/resources/templates/languages/cy/magistratesStandardList.json
  src/main/resources/templates/languages/en/magistratesStandardList.json
  src/main/resources/templates/magistratesStandardList.html
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/MagistratesStandardListSummaryConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/converters/MagistratesStandardListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/DateHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/listmanipulation/MagistratesStandardListHelperTest.java
  src/test/resources/mocks/magistratesStandardList.json
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-62

#63 PUB-1607 Various bug fixes for list template
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/IacDailyListSummaryConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/helpers/CrimeListSummaryHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/converters/IacDailyListFileConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/converters/SscsDailyListFileConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/DailyCauseListHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/DataManipulation.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/DateHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/listmanipulation/CrimeListHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/listmanipulation/CrownWarnedListManipulation.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/listmanipulation/EtFortnightlyPressListHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/listmanipulation/MagistratesStandardListHelper.java
  src/main/resources/templates/crownDailyList.html
  src/main/resources/templates/iacDailyList.html
  src/main/resources/templates/magistratesPublicList.html
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/CrownDailyListSummaryConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/IacDailyListSummaryConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/MagistratesPublicListSummaryConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/converters/IacDailyListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/DateHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/listmanipulation/CrimeListHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/listmanipulation/CrownWarnedListManipulationTest.java
  src/test/resources/mocks/civilAndFamilyDailyCauseList.json
  src/test/resources/mocks/civilDailyCauseList.json
  src/test/resources/mocks/copDailyCauseList.json
  src/test/resources/mocks/copDailyCauseListMissingRegion.json
  src/test/resources/mocks/copDailyCauseListMissingRegionalJoh.json
  src/test/resources/mocks/crownDailyList.json
  src/test/resources/mocks/familyDailyCauseList.json
  src/test/resources/mocks/iacDailyList.json
  src/test/resources/mocks/magistratesPublicList.json
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-63

#65 PUB-1384 Crown Firm List Pdf Template
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/models/external/datamanagement/ListType.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/CrownFirmListSummaryConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/converters/CrownFirmListFileConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/DailyCauseListHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/GeneralHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/LocationHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/PartyRoleHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/PartyRoleMapper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/SittingHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/listmanipulation/CrimeListHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/listmanipulation/CrownFirmListHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/listmanipulation/CrownWarnedListManipulation.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/listmanipulation/EtFortnightlyPressListHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/listmanipulation/MagistratesStandardListHelper.java
  src/main/resources/templates/crownFirmList.html
  src/main/resources/templates/languages/cy/crownFirmList.json
  src/main/resources/templates/languages/en/crownFirmList.json
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/CrownFirmListSummaryConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/converters/CivilDailyCauseListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/converters/CrownFirmListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/PartyRoleMapperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/listmanipulation/CrimeListHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/listmanipulation/CrownFirmListHelperTest.java
  src/test/resources/mocks/crownDailyList.json
  src/test/resources/mocks/crownFirmList.json
  src/test/resources/mocks/magistratesPublicList.json
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-65

#66 PUB-1570 Store PDF and Excel files of all sizes in Azure blob storage
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/PublicationManagementService.java
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-66

#67 PUB-1652 SSCS Daily list fixes
  src/main/resources/templates/languages/cy/sscsDailyList.json
  src/main/resources/templates/languages/en/sscsDailyList.json
  src/main/resources/templates/sscsDailyList.html
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-67
