Repository hmcts/pip-channel-management, pull requests merged in 2022-06, with the labels that each got.

#21 PUB-1356 - Fix auth flow
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  build.gradle
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/pip/channel/management/controllers/ChannelManagementTest.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/controllers/ChannelManagementController.java
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-21

#19 PUB-949 added third party api value builder to add to subscriptions
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/pip/channel/management/controllers/ChannelManagementTest.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/Application.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/controllers/ChannelManagementController.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/errorhandling/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/models/external/subscriptionmanagement/Channel.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/models/external/subscriptionmanagement/SearchType.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/models/external/subscriptionmanagement/Subscription.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/SubscriberListService.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/utils/ThirdPartyApi.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/controllers/ChannelManagementControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/SubscriberListServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/utils/ThirdPartyServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-19

#22 Merge integration into master
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  build.gradle
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/pip/channel/management/controllers/ChannelManagementTest.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/Application.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/controllers/ChannelManagementController.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/errorhandling/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/models/external/subscriptionmanagement/Channel.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/models/external/subscriptionmanagement/SearchType.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/models/external/subscriptionmanagement/Subscription.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/SubscriberListService.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/utils/ThirdPartyApi.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/controllers/ChannelManagementControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/SubscriberListServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/utils/ThirdPartyServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-22
