Repository hmcts/pip-channel-management, pull requests merged in 2022-12, with the labels that each got.

#71 PUB-1649 Family Daily cause list clean up
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/DataManipulation.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/DateHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/listmanipulation/CrimeListHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/listmanipulation/EtDailyListManipulation.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/listmanipulation/MagistratesStandardListHelper.java
  src/main/resources/templates/familyCauseList.html
  src/main/resources/templates/languages/cy/familyDailyCauseList.json
  src/main/resources/templates/languages/en/familyDailyCauseList.json
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/converters/FamilyCauseListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/DateHelperTest.java
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-71

#72 PUB-1650 Civil and Family Daily cause list clean up
  src/main/resources/templates/civilAndFamilyDailyCauseList.html
  src/main/resources/templates/languages/cy/civilAndFamilyDailyCauseList.json
  src/main/resources/templates/languages/en/civilAndFamilyDailyCauseList.json
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/converters/CivilAndFamilyCauseListFileConverterTest.java
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-72

#69 PUB-1648 Daily cause list clean up
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/CivilDailyCauseListSummaryConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/DataManipulation.java
  src/main/resources/templates/civilDailyCauseList.html
  src/main/resources/templates/languages/cy/civilDailyCauseList.json
  src/main/resources/templates/languages/en/civilDailyCauseList.json
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/converters/CivilDailyCauseListFileConverterTest.java
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-69

#83 Updated suppressions
  config/owasp/suppressions.xml
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-83

#73 PUB-1598 Upgrade HMCTS logging components to latest version
  build.gradle
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-73

#80 PUB-1700 Clean up COP daily cause list
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/DataManipulation.java
  src/main/resources/templates/languages/en/copDailyCauseList.json
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/converters/CopCauseListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/DateHelperTest.java
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-80

#81 PUB-1710 - Updated headers
  src/main/resources/templates/languages/cy/familyDailyCauseList.json
  src/main/resources/templates/languages/en/familyDailyCauseList.json
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-81

#85 PUB-1678 Java 17 upgrade
  .github/workflows/ci.yml
  Dockerfile
  build.gradle
  config/checkstyle/checkstyle.xml
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/pip/channel/management/config/AzureBlobTestConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/AccountManagementService.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/CivilDailyCauseListSummaryConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/converters/SjpPressListFileConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/DataManipulation.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/GeneralHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/PartyRoleHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/listmanipulation/EtDailyListManipulation.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/listmanipulation/MagistratesStandardListHelper.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/config/AzureBlobTestConfiguration.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/config/WebClientTestConfiguration.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/AccountManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/DataManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/PublicationManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/converters/SjpPressListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/converters/SscsDailyListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/DataManipulationTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/GeneralHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/PartyRoleMapperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/listmanipulation/CrownWarnedListManipulationTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/utils/ThirdPartyServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-85

#88 PUB-1705 - ET Fortnightly Clean Up
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/EtFortnightlyPressListSummaryConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/listmanipulation/EtFortnightlyPressListHelper.java
  src/main/resources/templates/etFortnightlyPressList.html
  src/main/resources/templates/languages/cy/etFortnightlyPressList.json
  src/main/resources/templates/languages/en/etFortnightlyPressList.json
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/converters/EtFortnightlyPressListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/listmanipulation/EtFortnightlyPressListHelperTest.java
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-88

#87 PUB-1704 Tidy up ET daily list PDF
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/listmanipulation/EtDailyListManipulation.java
  src/main/resources/templates/etDailyList.html
  src/main/resources/templates/languages/cy/etDailyList.json
  src/main/resources/templates/languages/en/etDailyList.json
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/converters/EtDailyListFileConverterTest.java
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-87

#86 PUB-1736 Fix COP list PDF discrepancies
  src/main/resources/templates/copDailyCauseList.html
  src/main/resources/templates/languages/cy/copDailyCauseList.json
  src/main/resources/templates/languages/en/copDailyCauseList.json
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/converters/CopCauseListFileConverterTest.java
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-86
