Repository hmcts/pip-channel-management, pull requests merged in 2023-07, with the labels that each got.

#214 Suppress CVE-2023-34462
  config/owasp/suppressions.xml
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-214

#200 PUB-2009 SSCS use party organisation name as alternative prosecutor
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/SscsListHelper.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/SscsDailyListArtefactSummaryConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/SscsListHelperTest.java
  src/test/resources/mocks/sscsDailyList.json
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-200

#199 PUB-1687 - Upgrade to spring boot 3
  bin/init.sh
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/config/SpringSecurityConfig.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/config/ThymeleafConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/AccountManagementService.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/TemplateEngine.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/JudiciaryHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/SjpPublicListHelper.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/config/SpringSecurityConfigTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/CaseHelperTest.java
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-199

#215 PUB-2079 Update dependencies + gradle
  build.gradle
  charts/pip-channel-management/Chart.yaml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-215

#220 Ignore trailing slash in spring boot v3 endpoints
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/config/WebConfiguration.java
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-220

#218 PUB-1986 SJP Press list party ordering
  src/functionalTest/java/uk/gov/hmcts/reform/pip/channel/management/controllers/ChannelManagementTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pip/channel/management/controllers/PublicationManagementTest.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/SjpPressListSummaryConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/SjpPressListFileConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/PartyRoleHelper.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/SjpPressListSummaryConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/SjpPressListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/PartyRoleHelperTest.java
  src/test/resources/mocks/sjpPressList.json
  src/test/resources/mocks/sjpPressMockJul22.json
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-218

#223 Updated nightly build
  Jenkinsfile_nightly
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-223

#221 PUB-1985 Allow organisation details for accused party
  src/functionalTest/java/uk/gov/hmcts/reform/pip/channel/management/controllers/PublicationManagementTest.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/SjpPressListSummaryConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/SjpPressListFileConverter.java
  src/main/resources/templates/sjpPressList.html
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/SjpPressListSummaryConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/SjpPressListFileConverterTest.java
  src/test/resources/mocks/sjpPressList.json
  src/test/resources/mocks/sjpPressMockJul22.json
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-221

#202 PUB-1793 Use Azure MI default Azure credential for blob access
  README.md
  charts/pip-channel-management/Chart.yaml
  charts/pip-channel-management/values.yaml
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/config/AzureBlobConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/config/AzureBlobConfigurationProperties.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/config/AzureBlobClientCreationTest.java
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-202

#225 Fixed vulnerability
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-225
