Repository hmcts/pip-channel-management, pull requests merged in 2023-01, with the labels that each got.

#90 Merge Freeze to Master
  .github/workflows/ci.yml
  Dockerfile
  build.gradle
  config/checkstyle/checkstyle.xml
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/pip/channel/management/config/AzureBlobTestConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/AccountManagementService.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/CivilDailyCauseListSummaryConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/EtFortnightlyPressListSummaryConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/converters/SjpPressListFileConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/DataManipulation.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/GeneralHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/PartyRoleHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/listmanipulation/EtDailyListManipulation.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/listmanipulation/EtFortnightlyPressListHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/listmanipulation/MagistratesStandardListHelper.java
  src/main/resources/templates/copDailyCauseList.html
  src/main/resources/templates/etDailyList.html
  src/main/resources/templates/etFortnightlyPressList.html
  src/main/resources/templates/languages/cy/copDailyCauseList.json
  src/main/resources/templates/languages/cy/etDailyList.json
  src/main/resources/templates/languages/cy/etFortnightlyPressList.json
  src/main/resources/templates/languages/en/copDailyCauseList.json
  src/main/resources/templates/languages/en/etDailyList.json
  src/main/resources/templates/languages/en/etFortnightlyPressList.json
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/config/AzureBlobTestConfiguration.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/config/WebClientTestConfiguration.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/AccountManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/DataManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/PublicationManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/converters/CopCauseListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/converters/EtDailyListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/converters/EtFortnightlyPressListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/converters/SjpPressListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/converters/SscsDailyListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/DataManipulationTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/GeneralHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/PartyRoleMapperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/listmanipulation/CrownWarnedListManipulationTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/listmanipulation/EtFortnightlyPressListHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/utils/ThirdPartyServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-90

#101 Updated suppressions
  config/owasp/suppressions.xml
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-101

#99 PUB-1771 Fix SCSS List
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/DataManipulation.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/GeneralHelper.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/GeneralHelperTest.java
  src/test/resources/mocks/sscsDailyList.json
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-99

#103 PUB-1772 Add functional test for Publication Management Service
  Jenkinsfile_CNP
  src/integrationTest/java/uk/gov/hmcts/reform/pip/channel/management/controllers/PublicationManagementTest.java
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-103

#108 PUB-1801 Crown Daily List Pdf Generation bug fix
  src/integrationTest/java/uk/gov/hmcts/reform/pip/channel/management/controllers/PublicationManagementTest.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/GeneralHelper.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/GeneralHelperTest.java
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-108

#104 PUB-1768 Add SSCS daily list - additional hearings
  build.gradle
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/models/external/datamanagement/ListType.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/PublicationManagementService.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/LanguageResourceHelper.java
  src/main/resources/templates/languages/cy/sscsDailyList.json
  src/main/resources/templates/languages/cy/sscsDailyListAdditionalHearings.json
  src/main/resources/templates/languages/en/sscsDailyList.json
  src/main/resources/templates/languages/en/sscsDailyListAdditionalHearings.json
  src/main/resources/templates/sscsDailyList.html
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/SscsDailyListArtefactSummaryConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/converters/SscsDailyListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/LanguageResourceHelperTest.java
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-104

#112 Updated owasp version
  build.gradle
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-112
