Repository hmcts/pip-channel-management, pull requests merged in 2023-12, with the labels that each got.

#285 PUB-2090 Update functional test staging data with double square brackets
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/pip/channel/management/controllers/PublicationManagementTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/MagistratesStandardListSummaryConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/MagistratesStandardListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/MagistratesStandardListHelperTest.java
  src/test/resources/mocks/magistratesStandardList.json
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-285

#283 PUB-2092 - Modified magistratesPublicList.json JSON fields
  config/owasp/suppressions.xml
  src/test/resources/mocks/magistratesPublicList.json
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-283

#286 PUB-2265 - Updated dependencies
  .github/workflows/ci.yml
  build.gradle
  charts/pip-channel-management/Chart.yaml
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  infrastructure/.terraform-version
  infrastructure/state.tf
Labels: ns:pip, prd:pip, no-changes, enable_keep_helm, rel:pip-channel-management-pr-286

#287 PUB-1690 - Removed HyperLinks to reporting restrictions for crime lists
  src/main/resources/templates/crownDailyList.html
  src/main/resources/templates/crownFirmList.html
  src/main/resources/templates/crownWarnedList.html
  src/main/resources/templates/languages/cy/crownDailyList.json
  src/main/resources/templates/languages/cy/crownFirmList.json
  src/main/resources/templates/languages/cy/crownWarnedList.json
  src/main/resources/templates/languages/cy/magistratesPublicList.json
  src/main/resources/templates/languages/cy/magistratesStandardList.json
  src/main/resources/templates/languages/en/crownDailyList.json
  src/main/resources/templates/languages/en/crownFirmList.json
  src/main/resources/templates/languages/en/crownWarnedList.json
  src/main/resources/templates/languages/en/magistratesPublicList.json
  src/main/resources/templates/languages/en/magistratesStandardList.json
  src/main/resources/templates/magistratesPublicList.html
  src/main/resources/templates/magistratesStandardList.html
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-287

#282 PUB-1988 - Add Excel and Email Summary for OPA Press List
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/pip/channel/management/controllers/PublicationManagementTest.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/models/templatemodels/opapresslist/OpaDefendantInfo.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/ListConversionFactory.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/OpaPressListSummaryConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/OpaPressListFileConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/CrimeListHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/OpaPressListHelper.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/OpaPressListSummaryConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/OpaPressListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/CrimeListHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/OpaPressListHelperTest.java
  src/test/resources/mocks/opaPressList.json
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-282

#292 PUB-2125 Add case URN to SJP Press list email summary
  src/functionalTest/java/uk/gov/hmcts/reform/pip/channel/management/controllers/PublicationManagementTest.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/SjpPressListSummaryConverter.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/SjpPressListSummaryConverterTest.java
  src/test/resources/mocks/sjpPressList.json
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-292
