Repository hmcts/pip-channel-management, pull requests merged in 2023-04, with the labels that each got.

#152 PUB-1915 - README updates
  README.md
  channel-man-arch.png
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-152

#165 PUB-1970 - Update dependencies
  build.gradle
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-165

#167 PUB-1958 Up the max size for service-to-service data transfer to 2MB from 256K
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/config/WebClientConfig.java
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-167

#169 PUB-1991 - Update
  build.gradle
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-169

#168 PUB-1824 Refactor + Remove "legal advisor" when constructing party
  build.gradle
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/models/templatemodels/sscsdailylist/Hearing.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/CopDailyCauseListSummaryConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/EtFortnightlyPressListSummaryConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/IacDailyListSummaryConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/SscsDailyListSummaryConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/converters/CopDailyCauseListFileConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/converters/IacDailyListFileConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/converters/SscsDailyListFileConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/DataManipulation.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/PartyRoleHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/listmanipulation/CopListHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/listmanipulation/EtDailyListManipulation.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/listmanipulation/EtFortnightlyPressListHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/listmanipulation/FamilyMixedListHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/listmanipulation/SscsListHelper.java
  src/main/resources/templates/civilAndFamilyDailyCauseList.html
  src/main/resources/templates/familyCauseList.html
  src/main/resources/templates/languages/cy/civilAndFamilyDailyCauseList.json
  src/main/resources/templates/languages/cy/familyDailyCauseList.json
  src/main/resources/templates/languages/cy/sscsDailyList.json
  src/main/resources/templates/languages/en/civilAndFamilyDailyCauseList.json
  src/main/resources/templates/languages/en/familyDailyCauseList.json
  src/main/resources/templates/languages/en/sscsDailyList.json
  src/main/resources/templates/sscsDailyList.html
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/DataManipulationTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/PartyRoleHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/listmanipulation/CopListHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/listmanipulation/EtDailyListManipulationTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/listmanipulation/FamilyMixedListHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/listmanipulation/SscsListHelperTest.java
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-168
