Repository hmcts/pip-channel-management, pull requests merged in 2023-11, with the labels that each got.

#275 PUB-2017 - Added reporting restrictions to Crown daily list
  build.gradle
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/pip/channel/management/controllers/PublicationManagementTest.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/CrownDailyListSummaryConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/CrimeListHelper.java
  src/main/resources/templates/crownDailyList.html
  src/main/resources/templates/languages/cy/crownDailyList.json
  src/main/resources/templates/languages/en/crownDailyList.json
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/CrownDailyListSummaryConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/CrownDailyListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/CrownDailyListHelperTest.java
  src/test/resources/mocks/crownDailyList.json
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-275

#276 PUB-2161 - Added important info to SJP Press List
  src/main/resources/templates/languages/cy/sjpPressList.json
  src/main/resources/templates/languages/en/sjpPressList.json
  src/main/resources/templates/sjpPressList.html
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/SjpPressListSummaryConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/SjpPressListFileConverterTest.java
  src/test/resources/mocks/sjpPressList.json
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-276

#274 PUB-2153 OPA Press List PDF generation
  build.gradle
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/pip/channel/management/controllers/PublicationManagementTest.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/models/templatemodels/opapresslist/Offence.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/models/templatemodels/opapresslist/OpaCaseInfo.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/models/templatemodels/opapresslist/OpaDefendantInfo.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/models/templatemodels/opapresslist/OpaPressList.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/ListConversionFactory.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/OpaPressListFileConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/CrimeListHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/MagistratesStandardListHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/OpaPressListHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/OpaPressListSorter.java
  src/main/resources/templates/languages/cy/opaPressList.json
  src/main/resources/templates/languages/en/opaPressList.json
  src/main/resources/templates/opaPressList.html
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/OpaPressListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/CrimeListHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/OpaPressListHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/OpaPressListSorterTest.java
  src/test/resources/mocks/opaPressList.json
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-274

#277 PUB-1673 SJP Public List validation schema update
  src/functionalTest/java/uk/gov/hmcts/reform/pip/channel/management/controllers/PublicationManagementTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/PublicationManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/SjpPublicListSummaryConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/SjpPublicListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/SjpPublicListHelperTest.java
  src/test/resources/mocks/sjpPublicList.json
  src/test/resources/mocks/sjpPublicListMissingPostcode.json
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-277

#278 PUB-2230 Handle parties for hearing with multiple cases
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/FamilyMixedListHelper.java
  src/main/resources/templates/civilAndFamilyDailyCauseList.html
  src/main/resources/templates/civilDailyCauseList.html
  src/main/resources/templates/familyDailyCauseList.html
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/CivilAndFamilyCauseListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/FamilyCauseListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/FamilyMixedListHelperTest.java
  src/test/resources/mocks/familyDailyCauseList.json
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-278

#279 PUB-2206 - Updated dependencies + suppressions
  build.gradle
  config/owasp/suppressions.xml
  infrastructure/.terraform-version
  infrastructure/state.tf
Labels: ns:pip, prd:pip, no-changes, enable_keep_helm, rel:pip-channel-management-pr-279
