Repository hmcts/pip-channel-management, pull requests merged in 2023-09, with the labels that each got.

#251 PUB-2129 - Removed court room name from ET fortnightly list
  src/functionalTest/java/uk/gov/hmcts/reform/pip/channel/management/controllers/PublicationManagementTest.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/EtFortnightlyPressListSummaryConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/LocationHelper.java
  src/main/resources/templates/etFortnightlyPressList.html
  src/main/resources/templates/languages/cy/etFortnightlyPressList.json
  src/main/resources/templates/languages/en/etFortnightlyPressList.json
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/EtFortnightlyPressListSummaryConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/LocationHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/EtFortnightlyPressListHelperTest.java
  src/test/resources/mocks/etFortnightlyPressList.json
  src/test/resources/sjpPressList-language.json
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-251

#250 PUB-2124 - Updated to renovate
  .github/dependabot.yml
  .github/renovate.json
  config/owasp/suppressions.xml
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-250

#253 PUB-2128 - Removed rep from ET Daily
  src/functionalTest/java/uk/gov/hmcts/reform/pip/channel/management/controllers/PublicationManagementTest.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/EtDailyListSummaryConverter.java
  src/main/resources/templates/etDailyList.html
  src/main/resources/templates/languages/cy/etDailyList.json
  src/main/resources/templates/languages/en/etDailyList.json
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/EtDailyListSummaryConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/EtDailyListFileConverterTest.java
  src/test/resources/mocks/etDailyList.json
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-253

#252 PUB-1671 Magistrates Public List clean-up
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/MagistratesPublicListHelper.java
  src/main/resources/templates/languages/cy/magistratesPublicList.json
  src/main/resources/templates/languages/en/magistratesPublicList.json
  src/main/resources/templates/magistratesPublicList.html
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/MagistratesPublicListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/MagistratesPublicListHelperTest.java
  src/test/resources/mocks/magistratesPublicList.json
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-252

#262 PUB-1984 - Updated JSON files following schema changes
  src/functionalTest/java/uk/gov/hmcts/reform/pip/channel/management/controllers/PublicationManagementTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/PublicationManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/SjpPublicListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/SjpPublicListHelperTest.java
  src/test/resources/mocks/sjpPublicList.json
  src/test/resources/mocks/sjpPublicListMissingPostcode.json
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-262

#248 PUB-1711 Generate additional Welsh PDF for gov.uk Notify
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/pip/channel/management/controllers/PublicationManagementTest.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/controllers/PublicationManagementController.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/database/AzureBlobService.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/models/PublicationFiles.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/PublicationFileGenerationService.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/PublicationManagementService.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/controllers/PublicationManagementControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/database/AzureBlobServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/AccountManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/PublicationFileGenerationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/PublicationManagementServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-248

#263 PUB-2147 - Dependency updates
  build.gradle
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.properties
  infrastructure/.terraform-version
  infrastructure/state.tf
Labels: ns:pip, prd:pip, no-changes, rel:pip-channel-management-pr-263

#266 PUB-1666 Crown Warned List clean-up
  src/main/resources/templates/crownWarnedList.html
  src/main/resources/templates/languages/cy/crownWarnedList.json
  src/main/resources/templates/languages/en/crownWarnedList.json
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/CrownWarnedListFileConverterTest.java
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-266

#267 Pub 1667
  src/main/resources/templates/crownFirmList.html
  src/main/resources/templates/languages/cy/crownFirmList.json
  src/main/resources/templates/languages/en/crownFirmList.json
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/CrownFirmListFileConverterTest.java
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-267

#268 PUB-1672 Magistrates Standard List clean up
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/CivilDailyCauseListSummaryConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/CommonListHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/DateHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/CopListHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/CrownDailyListHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/EtDailyListHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/EtFortnightlyPressListHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/FamilyMixedListHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/MagistratesPublicListHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/MagistratesStandardListHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/SscsListHelper.java
  src/main/resources/templates/languages/cy/magistratesStandardList.json
  src/main/resources/templates/languages/en/magistratesStandardList.json
  src/main/resources/templates/magistratesStandardList.html
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/MagistratesStandardListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/DateHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/CrownDailyListHelperTest.java
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-268
