Repository hmcts/pip-channel-management, pull requests merged in 2023-02, with the labels that each got.

#121 PUB-1783 - Automate updating with base branch
  .github/update-pr.yml
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-121

#111 PUB-1811 - Updated terraform version + azurerm version
  infrastructure/.terraform-version
  infrastructure/state.tf
  infrastructure/variables.tf
Labels: ns:pip, prd:pip, no-changes, rel:pip-channel-management-pr-111

#123 PUB-1811 - Removed unneeded variables
  infrastructure/variables.tf
Labels: ns:pip, prd:pip, no-changes, rel:pip-channel-management-pr-123

#122 PUB-1795 Display organisation name party for Family and Mixed list
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/models/external/datamanagement/ListType.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/PublicationManagementService.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/DailyCauseListSummaryConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/FamilyMixedDailyCauseListSummaryConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/DailyCauseListHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/DataManipulation.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/LocationHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/PartyRoleHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/listmanipulation/FamilyMixedListHelper.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/converters/CivilAndFamilyCauseListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/converters/CivilDailyCauseListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/converters/FamilyCauseListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/GeneralHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/PartyRoleHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/listmanipulation/FamilyMixedListHelperTest.java
  src/test/resources/mocks/civilAndFamilyDailyCauseList.json
  src/test/resources/mocks/familyDailyCauseList.json
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-122

#126 PUB-1823 Correct legal advisor Welsh name for SSCS daily list
  src/integrationTest/java/uk/gov/hmcts/reform/pip/channel/management/controllers/PublicationManagementTest.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/SscsDailyListSummaryConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/converters/SscsDailyListFileConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/DataManipulation.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/SscsDailyListArtefactSummaryConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/converters/SscsDailyListFileConverterTest.java
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-126

#129 Remove lombok @NonNull annotation which confuses Sonar
  src/integrationTest/java/uk/gov/hmcts/reform/pip/channel/management/controllers/PublicationManagementTest.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/models/external/datamanagement/ListType.java
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-129

#125 PUB-1803 Clean up PDFs
  Dockerfile
  config/pmd/ruleset.xml
  lib/gdsFont.otf
  lib/openSans.ttf
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/PublicationManagementService.java
  src/main/resources/gdsFont.otf
  src/main/resources/gdsFont.ttf
  src/main/resources/openSans.ttf
  src/main/resources/templates/careStandardsList.html
  src/main/resources/templates/civilAndFamilyDailyCauseList.html
  src/main/resources/templates/civilDailyCauseList.html
  src/main/resources/templates/copDailyCauseList.html
  src/main/resources/templates/crownDailyList.html
  src/main/resources/templates/crownFirmList.html
  src/main/resources/templates/crownWarnedList.html
  src/main/resources/templates/etDailyList.html
  src/main/resources/templates/etFortnightlyPressList.html
  src/main/resources/templates/familyCauseList.html
  src/main/resources/templates/iacDailyList.html
  src/main/resources/templates/languages/cy/sjpPressList.json
  src/main/resources/templates/languages/cy/sscsDailyList.json
  src/main/resources/templates/languages/en/sjpPressList.json
  src/main/resources/templates/languages/en/sscsDailyList.json
  src/main/resources/templates/magistratesPublicList.html
  src/main/resources/templates/magistratesStandardList.html
  src/main/resources/templates/primaryHealthList.html
  src/main/resources/templates/sjpPressList.html
  src/main/resources/templates/sjpPublicList.html
  src/main/resources/templates/sscsDailyList.html
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/converters/SscsDailyListFileConverterTest.java
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-125

#131 Updated artefacts
  src/integrationTest/java/uk/gov/hmcts/reform/pip/channel/management/controllers/PublicationManagementTest.java
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-131

#130 PUB-1808 Check user is authorised
  Jenkinsfile_CNP
  src/integrationTest/java/uk/gov/hmcts/reform/pip/channel/management/controllers/PublicationManagementTest.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/controllers/PublicationManagementController.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/errorhandling/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/errorhandling/exceptions/UnauthorisedException.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/AccountManagementService.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/PublicationManagementService.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/controllers/PublicationManagementControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/errorhandling/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/errorhandling/exceptions/UnauthorisedExceptionTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/AccountManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/PublicationManagementServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-130

#134 Update sjp public list
  src/integrationTest/java/uk/gov/hmcts/reform/pip/channel/management/controllers/PublicationManagementTest.java
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-134
