Repository hmcts/pip-channel-management, pull requests merged in 2023-03, with the labels that each got.

#133 PUB-1902 Cleanup ET Lists validation schema
  src/integrationTest/java/uk/gov/hmcts/reform/pip/channel/management/controllers/PublicationManagementTest.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/LocationHelper.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/EtDailyListSummaryConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/EtFortnightlyPressListSummaryConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/converters/EtDailyListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/listmanipulation/EtFortnightlyPressListHelperTest.java
  src/test/resources/mocks/etDailyList.json
  src/test/resources/mocks/etFortnightlyPressList.json
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-133

#147 Replace missing artefacts for functional tests
  src/integrationTest/java/uk/gov/hmcts/reform/pip/channel/management/controllers/PublicationManagementTest.java
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-147

#148 PUB-1910 - Update Dependencies + suppressions
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-148

#146 PUB-1895 Update Open Justice Statement
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/converters/CareStandardsListFileConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/converters/CivilAndFamilyDailyCauseListFileConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/converters/CivilDailyCauseListFileConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/converters/CopDailyCauseListFileConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/converters/FamilyDailyCauseListFileConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/converters/SscsDailyListFileConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/LanguageResourceHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/listmanipulation/TribunalNationalListsManipulation.java
  src/main/resources/templates/careStandardsList.html
  src/main/resources/templates/civilAndFamilyDailyCauseList.html
  src/main/resources/templates/civilDailyCauseList.html
  src/main/resources/templates/copDailyCauseList.html
  src/main/resources/templates/familyCauseList.html
  src/main/resources/templates/languages/cy/careStandardsList.json
  src/main/resources/templates/languages/cy/civilAndFamilyDailyCauseList.json
  src/main/resources/templates/languages/cy/civilDailyCauseList.json
  src/main/resources/templates/languages/cy/copDailyCauseList.json
  src/main/resources/templates/languages/cy/familyDailyCauseList.json
  src/main/resources/templates/languages/cy/openJusticeStatement.json
  src/main/resources/templates/languages/cy/sscsDailyList.json
  src/main/resources/templates/languages/en/careStandardsList.json
  src/main/resources/templates/languages/en/civilAndFamilyDailyCauseList.json
  src/main/resources/templates/languages/en/civilDailyCauseList.json
  src/main/resources/templates/languages/en/copDailyCauseList.json
  src/main/resources/templates/languages/en/familyDailyCauseList.json
  src/main/resources/templates/languages/en/openJusticeStatement.json
  src/main/resources/templates/languages/en/sscsDailyList.json
  src/main/resources/templates/sscsDailyList.html
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/converters/CivilDailyCauseListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/converters/SscsDailyListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/helpers/LanguageResourceHelperTest.java
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-146

#149 PUB-1925 - Updated files for ET Lists
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/converters/EtDailyListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/converters/EtFortnightlyPressListFileConverterTest.java
  src/test/resources/mocks/etDailyList.json
  src/test/resources/mocks/etFortnightlyPressList.json
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-149

#151 PUB-1924 Fix tests with blob deletion in staging
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/pip/channel/management/controllers/PublicationManagementTest.java
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-151

#155 Upgrade springboot version for CVE-2023-28708
  build.gradle
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-155
