Repository hmcts/pip-channel-management, pull requests merged in 2023-08, with the labels that each got.

#222 Pub 2054 - Add SJP delta press list
  build.gradle
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/ListConversionFactory.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/PublicationManagementService.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/FileConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/SjpPressListFileConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/SjpPublicListFileConverter.java
  src/main/resources/templates/languages/cy/sjpDeltaPressList.json
  src/main/resources/templates/languages/cy/sjpPressList.json
  src/main/resources/templates/languages/en/sjpDeltaPressList.json
  src/main/resources/templates/languages/en/sjpPressList.json
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/SjpPressListSummaryConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/SjpPressListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/SjpPublicListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/SscsDailyListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/TestUtils.java
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-222

#224 PUB-2084 - Updated App Insights
  Dockerfile
  README.md
  charts/pip-channel-management/Chart.yaml
  charts/pip-channel-management/values.yaml
  lib/AI-Agent.xml
  lib/applicationinsights.json
  src/main/resources/application.yaml
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-224

#238 PUB-1654 Handle SJP press list with missing address, forename and surname
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/SjpPressListSummaryConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/SjpPressListFileConverter.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/SjpPressListSummaryConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/SjpPressListFileConverterTest.java
  src/test/resources/mocks/sjpPressList.json
  src/test/resources/mocks/sjpPressMockJul22.json
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-238

#236 PUB-1653
  src/main/resources/templates/sjpPublicList.html
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/SjpPublicListFileConverterTest.java
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-236

#240 Pub 1674
  src/main/resources/templates/iacDailyList.html
  src/main/resources/templates/languages/en/iacDailyList.json
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/IacDailyListFileConverterTest.java
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-240

#242 PUB-1655 Primary Health List clean-up
  src/main/resources/templates/languages/cy/primaryHealthList.json
  src/main/resources/templates/languages/en/primaryHealthList.json
  src/main/resources/templates/primaryHealthList.html
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/PrimaryHealthListFileConverterTest.java
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-242

#237 PUB-2119 - Updated dependencies + suppressions
  build.gradle
  charts/pip-channel-management/Chart.yaml
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.properties
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-237

#244 PUB-2106 COP_DAILY_CAUSE_LIST PDF update
  src/functionalTest/java/uk/gov/hmcts/reform/pip/channel/management/controllers/PublicationManagementTest.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/IacDailyListFileConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/JudiciaryHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/CopListHelper.java
  src/main/resources/templates/copDailyCauseList.html
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/CopDailyCauseListSummaryConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/CopCauseListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/JudiciaryHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/CopListHelperTest.java
  src/test/resources/mocks/copDailyCauseList.json
  src/test/resources/mocks/copDailyCauseListMissingRegion.json
  src/test/resources/mocks/copDailyCauseListMissingRegionalJoh.json
  src/test/resources/mocks/judiciaryManipulation.json
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-244

#245 PUB-1904
  src/test/resources/mocks/iacDailyList.json
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-245

#249 Fixed spring suppression
  build.gradle
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-249

#247 PUB-2038 - Updating of language files for channel management
  src/functionalTest/java/uk/gov/hmcts/reform/pip/channel/management/controllers/PublicationManagementTest.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/FamilyMixedDailyCauseListSummaryConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/SscsDailyListFileConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/CommonListHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/DateHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/JudiciaryHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/SittingHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/CopListHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/CrimeListHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/FamilyMixedListHelper.java
  src/main/resources/templates/civilAndFamilyDailyCauseList.html
  src/main/resources/templates/civilDailyCauseList.html
  src/main/resources/templates/familyDailyCauseList.html
  src/main/resources/templates/languages/cy/careStandardsList.json
  src/main/resources/templates/languages/cy/civilAndFamilyDailyCauseList.json
  src/main/resources/templates/languages/cy/civilDailyCauseList.json
  src/main/resources/templates/languages/cy/copDailyCauseList.json
  src/main/resources/templates/languages/cy/crownDailyList.json
  src/main/resources/templates/languages/cy/crownFirmList.json
  src/main/resources/templates/languages/cy/crownWarnedList.json
  src/main/resources/templates/languages/cy/etDailyList.json
  src/main/resources/templates/languages/cy/etFortnightlyPressList.json
  src/main/resources/templates/languages/cy/familyDailyCauseList.json
  src/main/resources/templates/languages/cy/iacDailyList.json
  src/main/resources/templates/languages/cy/magistratesPublicList.json
  src/main/resources/templates/languages/cy/magistratesStandardList.json
  src/main/resources/templates/languages/cy/primaryHealthList.json
  src/main/resources/templates/languages/en/civilAndFamilyDailyCauseList.json
  src/main/resources/templates/languages/en/familyDailyCauseList.json
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/CivilAndFamilyDailyCauseListSummaryConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/CivilDailyCauseListSummaryConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/CivilAndFamilyCauseListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/CivilDailyCauseListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/CopCauseListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/CrownDailyListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/FamilyCauseListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/MagistratesPublicListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/SscsDailyListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/CommonListHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/DateHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/JudiciaryHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/PartyRoleHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/SittingHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/CopListHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/CrimeListHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/CrownDailyListHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/CrownFirmListHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/EtFortnightlyPressListHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/FamilyMixedListHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/MagistratesStandardListHelperTest.java
  src/test/resources/mocks/civilAndFamilyDailyCauseList.json
  src/test/resources/mocks/civilDailyCauseList.json
  src/test/resources/mocks/familyDailyCauseList.json
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-247

#243 Pub 1651
  src/main/resources/templates/crownDailyList.html
  src/main/resources/templates/languages/cy/crownDailyList.json
  src/main/resources/templates/languages/en/crownDailyList.json
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/CrownDailyListFileConverterTest.java
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-243
