Repository hmcts/pip-channel-management, pull requests merged in 2023-05, with the labels that each got.

#171 PUB-1732 Update logging
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/errorhandling/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/AccountManagementService.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/PublicationManagementService.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/SubscriberListService.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/AccountManagementServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-171

#182 PUB-1996 - Updated dependencies
  build.gradle
  charts/pip-channel-management/Chart.yaml
  config/owasp/suppressions.xml
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-182

#185 DTSPO-13810 reschedule jenkins nightly builds
  Jenkinsfile_nightly
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-185

#184 Pub 1999
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/PublicationManagementService.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/PublicationManagementServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-184
