Repository hmcts/pip-channel-management, pull requests merged in 2024-06, with the labels that each got.

#354 PUB-2474 OPA Results - Move offence to individualDetails/organisationDetails level
  src/functionalTest/java/uk/gov/hmcts/reform/pip/channel/management/controllers/PublicationManagementTest.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/OpaResultsHelper.java
  src/test/resources/mocks/opaResults.json
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-354

#349 PUB-2358 Moved Channel-Management endpoints to Subscription-Management
  README.md
  channel-man-arch.png
  charts/pip-channel-management/Chart.yaml
  charts/pip-channel-management/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/pip/channel/management/controllers/ChannelManagementTest.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/Application.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/controllers/ChannelManagementController.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/errorhandling/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/errorhandling/exceptions/ChannelNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/AccountManagementService.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/SubscriberListService.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/utils/ThirdPartyApi.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/controllers/ChannelManagementControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/errorhandling/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/errorhandling/exceptions/ChannelNotFoundExceptionTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/AccountManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/SubscriberListServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/utils/ThirdPartyServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-349

#356 PUB-2363 - Update Data Models version number
  build.gradle
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-356

#357 PUB-2461: Upgrading to Java 21
  .github/workflows/ci.yml
  Dockerfile
  README.md
  build.gradle
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-357

#355 PUB-2454 - Add PDF and email summary generation for IAC Daily List
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/pip/channel/management/controllers/PublicationManagementTest.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/ListConversionFactory.java
  src/main/resources/templates/languages/cy/iacDailyListAdditionalCases.json
  src/main/resources/templates/languages/en/iacDailyListAdditionalCases.json
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/IacDailyListSummaryConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/IacDailyListFileConverterTest.java
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-355

#360 PUB-2448 Add case reporting restrictions for Family, Mixed and COP lists
  src/functionalTest/java/uk/gov/hmcts/reform/pip/channel/management/controllers/PublicationManagementTest.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/CopListHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/FamilyMixedListHelper.java
  src/main/resources/templates/civilAndFamilyDailyCauseList.html
  src/main/resources/templates/copDailyCauseList.html
  src/main/resources/templates/familyDailyCauseList.html
  src/main/resources/templates/languages/cy/civilAndFamilyDailyCauseList.json
  src/main/resources/templates/languages/cy/copDailyCauseList.json
  src/main/resources/templates/languages/cy/familyDailyCauseList.json
  src/main/resources/templates/languages/en/civilAndFamilyDailyCauseList.json
  src/main/resources/templates/languages/en/copDailyCauseList.json
  src/main/resources/templates/languages/en/familyDailyCauseList.json
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/CivilAndFamilyCauseListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/CopCauseListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/FamilyCauseListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/hearingparty/CivilAndFamilyCauseListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/hearingparty/FamilyCauseListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/hearingparty/FamilyMixedListHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/CopListHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/FamilyMixedListHelperTest.java
  src/test/resources/mocks/civilAndFamilyDailyCauseList.json
  src/test/resources/mocks/copDailyCauseList.json
  src/test/resources/mocks/familyDailyCauseList.json
  src/test/resources/mocks/hearingparty/civilAndFamilyDailyCauseList.json
  src/test/resources/mocks/hearingparty/familyDailyCauseList.json
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-360

#362 PUB-2490 - Updated jenkins nightly time
  Jenkinsfile_nightly
  config/owasp/suppressions.xml
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-362
