Repository hmcts/pip-channel-management, pull requests merged in 2024-05, with the labels that each got.

#347 PUB-2459 Handle SJP Press List without offence wording
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/SjpPressListFileConverter.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/SjpPressListFileConverterTest.java
  src/test/resources/mocks/sjpPressList.json
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-347

#346 PUB-2447 - Updated dependencies
  build.gradle
  config/owasp/suppressions.xml
  infrastructure/.terraform-version
  infrastructure/state.tf
  src/functionalTest/java/uk/gov/hmcts/reform/pip/channel/management/controllers/hearingparty/PublicationManagementTest.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/CrownDailyListHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/MagistratesPublicListHelper.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/OpaPressListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/OpaResultsFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/MagistratesStandardListHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/OpaResultsHelperTest.java
Labels: ns:pip, prd:pip, stg/no-changes, rel:pip-channel-management-pr-346

#348 PUB-2468 Add PDF and email summary generation for SJP Delta Public List
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/pip/channel/management/controllers/PublicationManagementTest.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/ListConversionFactory.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/SjpPressListFileConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/SjpPublicListFileConverter.java
  src/main/resources/templates/languages/cy/sjpDeltaPublicList.json
  src/main/resources/templates/languages/cy/sjpPublicList.json
  src/main/resources/templates/languages/en/sjpDeltaPublicList.json
  src/main/resources/templates/languages/en/sjpPublicList.json
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/SjpPublicListSummaryConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/SjpPublicListFileConverterTest.java
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-348
