Repository hmcts/pip-channel-management, pull requests merged in 2024-01, with the labels that each got.

#293 PUB-2245 - Updated README
  README.md
  charts/pip-channel-management/Chart.yaml
  charts/pip-channel-management/values.yaml
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-293

#289 PUB-2240 Update Magistrates standard list PDF for party and offence
  src/functionalTest/java/uk/gov/hmcts/reform/pip/channel/management/controllers/PublicationManagementTest.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/models/templatemodels/magistratesstandardlist/CaseInfo.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/models/templatemodels/magistratesstandardlist/CaseSitting.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/models/templatemodels/magistratesstandardlist/DefendantInfo.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/models/templatemodels/magistratesstandardlist/MagistratesStandardList.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/models/templatemodels/magistratesstandardlist/Offence.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/CopDailyCauseListSummaryConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/MagistratesStandardListSummaryConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/MagistratesStandardListFileConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/LocationHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/PartyRoleHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/SittingHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/MagistratesStandardListHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/SjpPublicListHelper.java
  src/main/resources/templates/languages/cy/magistratesStandardList.json
  src/main/resources/templates/languages/en/magistratesStandardList.json
  src/main/resources/templates/magistratesStandardList.html
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/MagistratesStandardListSummaryConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/CrownDailyListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/MagistratesStandardListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/MagistratesStandardListHelperTest.java
  src/test/resources/mocks/magistratesStandardList.json
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-289

#294 PUB-2182 add terraform_format.yml
  .github/workflows/terraform_format.yml
  infrastructure/state.tf
Labels: ns:pip, prd:pip, no-changes, rel:pip-channel-management-pr-294

#296 Merge code freeze branch to Master
  .github/workflows/terraform_format.yml
  README.md
  charts/pip-channel-management/Chart.yaml
  charts/pip-channel-management/values.yaml
  infrastructure/state.tf
  src/functionalTest/java/uk/gov/hmcts/reform/pip/channel/management/controllers/PublicationManagementTest.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/models/templatemodels/magistratesstandardlist/CaseInfo.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/models/templatemodels/magistratesstandardlist/CaseSitting.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/models/templatemodels/magistratesstandardlist/DefendantInfo.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/models/templatemodels/magistratesstandardlist/MagistratesStandardList.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/models/templatemodels/magistratesstandardlist/Offence.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/CopDailyCauseListSummaryConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/MagistratesStandardListSummaryConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/SjpPressListSummaryConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/MagistratesStandardListFileConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/LocationHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/PartyRoleHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/SittingHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/MagistratesStandardListHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/SjpPublicListHelper.java
  src/main/resources/templates/languages/cy/magistratesStandardList.json
  src/main/resources/templates/languages/en/magistratesStandardList.json
  src/main/resources/templates/magistratesStandardList.html
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/MagistratesStandardListSummaryConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/SjpPressListSummaryConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/CrownDailyListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/MagistratesStandardListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/MagistratesStandardListHelperTest.java
  src/test/resources/mocks/magistratesStandardList.json
  src/test/resources/mocks/sjpPressList.json
Labels: ns:pip, prd:pip, no-changes, rel:pip-channel-management-pr-296

#295 PUB-2279 Fix sonarqube code smells
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/OpaPressListSummaryConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/OpaPressListFileConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/SjpPublicListHelper.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/LocationHelperTest.java
Labels: ns:pip, prd:pip, no-changes, rel:pip-channel-management-pr-295

#284 Pub 1977 - Add OPA Public List
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/models/templatemodels/opapubliclist/CaseInfo.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/models/templatemodels/opapubliclist/Defendant.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/models/templatemodels/opapubliclist/Offence.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/models/templatemodels/opapubliclist/OpaPublicList.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/ListConversionFactory.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/OpaPublicListFileConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/OpaPressListHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/OpaPublicListHelper.java
  src/main/resources/templates/languages/cy/opaPublicList.json
  src/main/resources/templates/languages/en/opaPublicList.json
  src/main/resources/templates/opaPublicList.html
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/OpaPublicListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/OpaPublicListHelperTest.java
  src/test/resources/mocks/opaPublicList.json
Labels: ns:pip, prd:pip, no-changes, rel:pip-channel-management-pr-284

#291 PUB-2250 Add email summary for OPA public list
  src/functionalTest/java/uk/gov/hmcts/reform/pip/channel/management/controllers/PublicationManagementTest.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/ListConversionFactory.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/OpaPublicListSummaryConverter.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/OpaPublicListSummaryConverterTest.java
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-291

#298 PUB-2208 OPA results PDF and email summary
  build.gradle
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/models/templatemodels/oparesults/Offence.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/models/templatemodels/oparesults/OpaResults.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/ListConversionFactory.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/OpaResultsSummaryConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/OpaResultsFileConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/GeneralHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/SittingHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/OpaPressListHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/OpaPublicListHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/OpaResultsHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/OpaResultsSorter.java
  src/main/resources/templates/languages/cy/opaResults.json
  src/main/resources/templates/languages/en/opaResults.json
  src/main/resources/templates/opaPressList.html
  src/main/resources/templates/opaResults.html
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/OpaResultsSummaryConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/OpaPressListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/OpaResultsFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/SscsDailyListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/GeneralHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/OpaPressListSorterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/OpaResultsHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/OpaResultsSorterTest.java
  src/test/resources/mocks/opaResults.json
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-298

#302 PUB-2208 Add OPA results functional tests
  src/functionalTest/java/uk/gov/hmcts/reform/pip/channel/management/controllers/PublicationManagementTest.java
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-302

#299 PUB-2288 Create V2 version of delete publication files endpoint
  src/functionalTest/java/uk/gov/hmcts/reform/pip/channel/management/controllers/PublicationManagementTest.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/controllers/PublicationManagementController.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/PublicationManagementService.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/controllers/PublicationManagementControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/PublicationManagementServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-299

#297 PUB-2133 - Updated spring boot
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/config/SpringSecurityConfig.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/config/SpringSecurityConfigTest.java
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-297

#304 PUB-2295 - Remove deprecated endpoint
  src/functionalTest/java/uk/gov/hmcts/reform/pip/channel/management/controllers/PublicationManagementTest.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/controllers/PublicationManagementController.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/PublicationManagementService.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/controllers/PublicationManagementControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/PublicationManagementServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-304
