Repository hmcts/pip-channel-management, pull requests merged in 2024-03, with the labels that each got.

#319 PUB-2341- Removed informant from sscsDailyList.json, and modified app…
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/SscsListHelper.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/SscsDailyListArtefactSummaryConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/SscsListHelperTest.java
  src/test/resources/mocks/sscsDailyList.json
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-319

#323 Pub 2264: Adding Session Channel to IAC Daily list and updating tests
  src/functionalTest/java/uk/gov/hmcts/reform/pip/channel/management/controllers/PublicationManagementTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/IacDailyListSummaryConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/IacDailyListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/SittingHelperTest.java
  src/test/resources/mocks/iacDailyList.json
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-323

#320 PUB-2121 Update pip-data-models version
  README.md
  build.gradle
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-320

#328 PUB-2281 - Remove trailing slash parameter
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/config/WebConfiguration.java
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-328

#325 PUB-2303: Removed remaining @schemaLocation fields from schemas
  src/test/resources/mocks/civilDailyCauseList.json
  src/test/resources/mocks/crownDailyList.json
  src/test/resources/mocks/crownWarnedList.json
  src/test/resources/mocks/hearingparty/crownDailyList.json
  src/test/resources/mocks/hearingparty/crownWarnedList.json
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-325
