Repository hmcts/pip-channel-management, pull requests merged in 2024-02, with the labels that each got.

#301 Pub 2089 - Align JOH functionality
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/pip/channel/management/controllers/PublicationManagementTest.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/CivilDailyCauseListSummaryConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/IacDailyListFileConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/JudiciaryHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/LocationHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/SittingHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/MagistratesStandardListHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/SscsListHelper.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/CivilAndFamilyDailyCauseListSummaryConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/CivilDailyCauseListSummaryConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/CopDailyCauseListSummaryConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/SscsDailyListArtefactSummaryConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/CivilAndFamilyCauseListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/CivilDailyCauseListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/CopCauseListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/FamilyCauseListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/MagistratesStandardListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/CommonListHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/JudiciaryHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/SittingHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/CopListHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/CrimeListHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/CrownFirmListHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/FamilyMixedListHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/MagistratesPublicListHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/MagistratesStandardListHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/SscsListHelperTest.java
  src/test/resources/mocks/civilAndFamilyDailyCauseList.json
  src/test/resources/mocks/civilDailyCauseList.json
  src/test/resources/mocks/copDailyCauseList.json
  src/test/resources/mocks/copDailyCauseListMissingRegion.json
  src/test/resources/mocks/copDailyCauseListMissingRegionalJoh.json
  src/test/resources/mocks/crownDailyList.json
  src/test/resources/mocks/crownFirmList.json
  src/test/resources/mocks/familyDailyCauseList.json
  src/test/resources/mocks/iacDailyList.json
  src/test/resources/mocks/judiciaryManipulation.json
  src/test/resources/mocks/magistratesPublicList.json
  src/test/resources/mocks/magistratesStandardList.json
  src/test/resources/mocks/sscsDailyList.json
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-301

#305 PUB-1619 - Added fortify
  Jenkinsfile_nightly
  README.md
  build.gradle
  config/fortify-client.properties
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-305

#312 PUB-1619 - Updated pipeline
  Jenkinsfile_nightly
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-312

#308 PUB-2293 - Dependency updates
  .github/workflows/terraform_format.yml
  build.gradle
  charts/pip-channel-management/Chart.yaml
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  infrastructure/.terraform-version
  infrastructure/state.tf
Labels: ns:pip, prd:pip, no-changes, rel:pip-channel-management-pr-308

#311 PUB-2300 Add security to Swagger API
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/config/OpenApiConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/controllers/ChannelManagementController.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/controllers/PublicationManagementController.java
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-311

#303 PUB-2291-Updated OPA lists
  build.gradle
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/pip/channel/management/controllers/PublicationManagementTest.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/OpaPressListHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/OpaPublicListHelper.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/OpaPublicListSummaryConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/OpaPressListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/OpaPublicListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/CrimeListHelperTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/OpaPressListHelperTest.java
  src/test/resources/mocks/opaPressList.json
  src/test/resources/mocks/opaPublicList.json
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-303

#314 PUB-2337 - Added graceful shutdown
  src/main/resources/application.yaml
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-314

#317 PUB-2262: Removing Individual Middle Name attribute from iacDailyList
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/IacDailyListFileConverterTest.java
  src/test/resources/mocks/iacDailyList.json
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-317

#316 PUB-2277: removing "youth" attribute from opaPressList.json
  src/test/resources/mocks/opaPressList.json
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-316

#318 Pub 2339 sscs party role respondent
  src/functionalTest/java/uk/gov/hmcts/reform/pip/channel/management/controllers/PublicationManagementTest.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/SscsDailyListSummaryConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/SscsListHelper.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/SscsDailyListArtefactSummaryConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/SscsDailyListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/SscsListHelperTest.java
  src/test/resources/mocks/sscsDailyList.json
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-318
