Repository hmcts/pip-channel-management, pull requests merged in 2024-04, with the labels that each got.

#330 PUB-2190: Added 'caseType' field to Civil Daily Cause list
  src/functionalTest/java/uk/gov/hmcts/reform/pip/channel/management/controllers/PublicationManagementTest.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/CivilDailyCauseListSummaryConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/FamilyMixedDailyCauseListSummaryConverter.java
  src/main/resources/templates/civilDailyCauseList.html
  src/main/resources/templates/languages/cy/civilDailyCauseList.json
  src/main/resources/templates/languages/en/civilDailyCauseList.json
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/CivilAndFamilyDailyCauseListSummaryConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/CivilDailyCauseListSummaryConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/CivilDailyCauseListFileConverterTest.java
  src/test/resources/mocks/civilDailyCauseList.json
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-330

#338 PUB-2308 - Fix errors in PDF generation
  src/main/resources/templates/careStandardsList.html
  src/main/resources/templates/civilAndFamilyDailyCauseList.html
  src/main/resources/templates/civilDailyCauseList.html
  src/main/resources/templates/copDailyCauseList.html
  src/main/resources/templates/crownDailyList.html
  src/main/resources/templates/crownFirmList.html
  src/main/resources/templates/crownWarnedList.html
  src/main/resources/templates/familyDailyCauseList.html
  src/main/resources/templates/languages/cy/careStandardsList.json
  src/main/resources/templates/languages/cy/civilAndFamilyDailyCauseList.json
  src/main/resources/templates/languages/cy/civilDailyCauseList.json
  src/main/resources/templates/languages/cy/copDailyCauseList.json
  src/main/resources/templates/languages/cy/familyDailyCauseList.json
  src/main/resources/templates/languages/cy/sscsDailyList.json
  src/main/resources/templates/languages/en/careStandardsList.json
  src/main/resources/templates/languages/en/civilAndFamilyDailyCauseList.json
  src/main/resources/templates/languages/en/civilDailyCauseList.json
  src/main/resources/templates/languages/en/copDailyCauseList.json
  src/main/resources/templates/languages/en/familyDailyCauseList.json
  src/main/resources/templates/languages/en/sscsDailyList.json
  src/main/resources/templates/magistratesPublicList.html
  src/main/resources/templates/opaPressList.html
  src/main/resources/templates/sjpPressList.html
  src/main/resources/templates/sscsDailyList.html
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/CareStandardsListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/CivilAndFamilyCauseListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/CivilDailyCauseListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/CopCauseListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/FamilyCauseListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/OpaPressListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/SjpPressListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/SscsDailyListFileConverterTest.java
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-338

#329 PUB-2333 Update generate files endpoint by passing in the payload
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/pip/channel/management/controllers/PublicationManagementTest.java
  src/functionalTest/resources/data/civilAndFamilyDailyCauseList.json
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/controllers/PublicationManagementController.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/PublicationFileGenerationService.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/PublicationManagementService.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/controllers/PublicationManagementControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/PublicationFileGenerationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/PublicationManagementServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-329

#340 PUB-2309 - Change logging level for PDF generation
  build.gradle
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/PublicationFileGenerationService.java
  src/main/resources/application.yaml
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-340

#343 Replace user ID in functional test
  src/functionalTest/java/uk/gov/hmcts/reform/pip/channel/management/controllers/ChannelManagementTest.java
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-343

#339 PUB-2319 Fixed Crown Firm List table border formatting issue
  src/main/resources/templates/crownFirmList.html
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-339

#341 PUB-2263 - Individual Middle Name removed from the ET Lists
  src/test/resources/mocks/etDailyList.json
  src/test/resources/mocks/etFortnightlyPressList.json
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-341

#337 PUB-2122 Add endpoints to get blob size and check file existence
  src/functionalTest/java/uk/gov/hmcts/reform/pip/channel/management/controllers/PublicationManagementTest.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/controllers/PublicationManagementController.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/database/AzureBlobService.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/models/PublicationFileSizes.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/PublicationManagementService.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/controllers/PublicationManagementControllerTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/database/AzureBlobServiceTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/PublicationManagementServiceTest.java
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-337

#342 PUB-2375 - Dependency Updates
  build.gradle
  charts/pip-channel-management/Chart.yaml
  charts/pip-channel-management/values.yaml
  config/owasp/suppressions.xml
  config/pmd/ruleset.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  infrastructure/state.tf
  src/functionalTest/java/uk/gov/hmcts/reform/pip/channel/management/controllers/ChannelManagementTest.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/CivilDailyCauseListSummaryConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/SjpPressListSummaryConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/SjpPublicListSummaryConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/SscsDailyListSummaryConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/SjpPressListFileConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/DateHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/GeneralHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/JudiciaryHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/CrimeListHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/EtFortnightlyPressListHelper.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/helpers/listmanipulation/MagistratesPublicListHelper.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/CivilDailyCauseListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/MagistratesStandardListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/OpaPressListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/OpaPublicListFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/OpaResultsFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/SjpPressListFileConverterTest.java
Labels: ns:pip, prd:pip, stg/no-changes, rel:pip-channel-management-pr-342

#344 PUB-2428 SJP Press List DOB and age optional
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/SjpPressListFileConverter.java
  src/main/resources/templates/sjpPressList.html
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/SjpPressListFileConverterTest.java
  src/test/resources/mocks/sjpPressList.json
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-344

#332 PUB-2186 - Modified IAC Lists and Tests
  src/functionalTest/java/uk/gov/hmcts/reform/pip/channel/management/controllers/PublicationManagementTest.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/IacDailyListSummaryConverter.java
  src/main/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/IacDailyListFileConverter.java
  src/main/resources/templates/iacDailyList.html
  src/main/resources/templates/languages/cy/iacDailyList.json
  src/main/resources/templates/languages/en/iacDailyList.json
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/artefactsummary/IacDailyListSummaryConverterTest.java
  src/test/java/uk/gov/hmcts/reform/pip/channel/management/services/filegeneration/IacDailyListFileConverterTest.java
  src/test/resources/mocks/iacDailyList.json
Labels: ns:pip, prd:pip, rel:pip-channel-management-pr-332
